:root {
  --background-color: #ffffff;
  --main-color: #000000;
  --point-color1: #f2f2f3;
  --point-color2: #9ad862;
  --point-color3: #02b6fe;
}

@font-face {
  font-family: 'EF_jejudoldam';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-EF@1.0/EF_jejudoldam.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

*{
  padding: 0;
  margin: 0;
}

label{
  margin-bottom: 0.5rem;
}

.App{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.page-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin-top: 1rem;
  font-family: 'Pretendard-Regular';

}

.page-title{
  font-family: 'Pretendard-Regular';

}

.component-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.header{
  width: 100%;
}

.nav{
  position:sticky;
  top: 0;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-color);
  color: var(--point-color3);
  width: 100%;
  height: 4rem;
  border: none;
}

.main-logo-container{
  padding-left: 1rem;
}

#main-logo {
  font-family: 'EF_jejudoldam';
  font-size: 2rem;
  cursor: pointer;
}

.nav-btn-container{
  display: flex;
  flex-direction: row;
  padding-right: 1rem;
}

.nav-btn{  
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  cursor: pointer;

}

#sidebar-container{
  position: sticky;
  top: 3rem;
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
  color: var(--point-color2);
  border: none;
  width: 100%;
  padding-left: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.sidebar-btn{
  display: flex;
  cursor: pointer;
  font-family: 'Pretendard-Regular';

}

.login-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#login-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#id-input {
  margin-top: 1rem;
  border-radius: 8px 8px 0 0;
  border: 1px solid #c5ccd2;
  height: 2rem;
  width: 100%;
  margin-left: 1rem;
  margin-right: 1rem;
}

#pw-input {
  margin-bottom: 1rem;
  border-radius: 0 0 8px 8px;
  border: 1px solid #c5ccd2;
  height: 2rem;
  width: 100%;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

#login-btn {
  width: 100%;
  height: 3rem;
  border: 1px solid var(--point-color3);
  border-radius: 8px;
  background-color: var(--point-color3);
  color: white;
  font-weight: bolder;
}

.custom-link{
  text-decoration: none;
  color: var(--point-color2);
  margin-bottom: 0.5rem;
}

.find {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.post-list-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.post-card{
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 100%;
  background-color: white;
  color: black;
  box-shadow: 0 1px 1px rgba(0,0,0,0.25), 
              0 2px 2px rgba(0,0,0,0.20), 
              0 4px 4px rgba(0,0,0,0.15), 
              0 8px 8px rgba(0,0,0,0.10),
              0 16px 16px rgba(0,0,0,0.05);
  border-radius: 5px;
  padding-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;

  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-family: 'Pretendard-Regular';

}

.graph-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100rem;
}

.std-form{
  width: 90%;
}

.std-form-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 1rem;
}

.long-text-input{
  height: 15rem;
}

#submit-btn-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.terms-container {
  width: 100%;
  height: 300px; /* 원하는 높이로 설정 */
  overflow-y: scroll; /* 수직 스크롤 가능 */
  
  border: 1px solid #ddd;
  background-color: #f9f9f9;
}

.terms-container::-webkit-scrollbar {
  width: 10px;
}

.terms-container::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

.terms-container::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.checkbox-container {
  display: flex;
  margin-top: 1rem;
}

.submit-btn {
  width: 100%;
  height: 3rem;
  border: 1px solid var(--point-color3);
  border-radius: 8px;
  background-color: var(--point-color3);
  color: white;
  font-weight: bolder;
}

.std-input-field {
  padding-left: 1rem;
  height: 2rem;
}
